@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
	height: 100%;
	box-sizing: border-box;
	font-family: 'Belanosima', sans-serif;
	font-family: 'Poppins', sans-serif;
}

body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	color: inherit;
}