nav {
	background-color: hsl(var(--hue), var(--sat), 30%);
	color: #fff;
	ul {
		display: flex;
		list-style-type: none;
		li {
			a {
				display: flex;
				padding: .5em;
				text-decoration: none;
				&:hover {
					color: #fff;
				}
			}
		}
	}
}